In [32]:
%matplotlib Qt
# %matplotlib inline

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

from modules import Perceptron

In [64]:
data = pd.read_csv('data/weatherHistory.csv')
data.head(3)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.

In [67]:
data['Date'] = data['Formatted Date'].str[:10]
data['Time'] = data['Formatted Date'].str[11:13]
data['Date'] = pd.to_datetime(data['Date'])
data['Day of Year'] = data['Date'].dt.dayofyear
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Date,Time,Day of Year
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006-04-01,00,91
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006-04-01,01,91
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006-04-01,02,91
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,2006-04-01,03,91
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2006-04-01,04,91

In [68]:
data = data.sort_values(by=['Date'], ascending=True).reset_index()
data

,index,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Date,Time,Day of Year
0,2902,2006-01-01 22:00:00.000 +0100,Overcast,rain,5.472222,1.377778,0.87,22.7171,149.0,14.7959,0.0,1009.51,Mostly cloudy throughout the day.,2006-01-01,22,1
1,2903,2006-01-01 23:00:00.000 +0100,Overcast,rain,5.422222,1.666667,0.86,19.5615,148.0,15.6492,0.0,1009.64,Mostly cloudy throughout the day.,2006-01-01,23,1
2,2901,2006-01-01 21:00:00.000 +0100,Overcast,rain,4.933333,0.555556,0.86,23.9407,139.0,15.7297,0.0,1009.43,Mostly cloudy throughout the day.,2006-01-01,21,1
3,2900,2006-01-01 20:00:00.000 +0100,Overcast,rain,5.972222,1.861111,0.80,24.2305,140.0,11.2700,0.0,1009.39,Mostly cloudy throughout the day.,2006-01-01,20,1
4,2899,2006-01-01 19:00:00.000 +0100,Overcast,rain,5.472222,1.100000,0.83,25.4058,145.0,10.9158,0.0,1009.55,Mostly cloudy throughout the day.,2006-01-01,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,89711,2016-12-31 02:00:00.000 +0100,Mostly Cloudy,snow,-1.488889,-4.750000,0.95,8.8711,207.0,7.9856,0.0,1020.48,Mostly cloudy throughout the day.,2016-12-31,02,366
96449,89710,2016-12-31 01:00:00.000 +0100,Mostly Cloudy,snow,-1.161111,-4.394444,0.95,8.9999,203.0,7.3255,0.0,1020.59,Mostly cloudy throughout the day.,2016-12-31,01,366
96450,89709,2016-12-31 00:00:00.000 +0100,Mostly Cloudy,snow,-0.872222,-4.083333,0.94,9.1126,197.0,9.7888,0.0,1020.67,Mostly cloudy throughout the day.,2016-12-31,00,366
96451,89722,2016-12-31 13:00:00.000 +0100,Mostly Cloudy,rain,2.622222,-0.983333,0.83,13.9909,205.0,9.8210,0.0,1020.32,Mostly cloudy throughout the day.,2016-12-31,13,366
96452,89716,2016-12-31 07:00:00.000 +0100,Mostly Cloudy,snow,-1.655556,-5.350000,0.91,10.2718,163.0,4.1055,0.0,1020.75,Mostly cloudy throughout the day.,2016-12-31,07,366

In [69]:
# Calculate the average temperature of each day
daily_avg_temp = data.groupby('Day of Year')['Temperature (C)'].mean().reset_index()
daily_avg_temp.head()

   Day of Year  Temperature (C)
0            1        -1.211048
1            2        -0.310606
2            3        -0.437689
3            4        -0.755240
4            5         0.451999

In [70]:
daily_avg_temp.columns = ['Day of Year', 'Average Temperature (C)']
daily_avg_temp.head()

   Day of Year  Average Temperature (C)
0            1                -1.211048
1            2                -0.310606
2            3                -0.437689
3            4                -0.755240
4            5                 0.451999