In [1]:
%matplotlib Qt
# %matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [3]:
x, y, coef = datasets.make_regression(n_samples=100,#number of samples
                                      n_features=1,#number of features
                                      n_informative=1,#number of useful features 
                                      noise=10,#bias and standard deviation of the guassian noise
                                      coef=True,#true coefficient used to generated the data
                                      random_state=0) #set for same data points for each run

In [4]:
# Scale feature x (years of experience) to range 0..20
x = np.interp(x, (x.min(), x.max()), (0, 20))

In [5]:
# Scale target y (salary) to range 20000..150000 
y = np.interp(y, (y.min(), y.max()), (20000, 150000))

In [6]:
plt.ion() #interactive plot on
plt.plot(x,y,'.',label='training data')
plt.xlabel('Years of experience');plt.ylabel('Salary $')
plt.title('Experience Vs. Salary')

Text(0.5, 1.0, 'Experience Vs. Salary')

In [7]:
df = pd.DataFrame(data={'experience':x.flatten(),'salary':y})
df.head(10)

   experience         salary
0    9.096218   78311.160754
1   14.637429  103897.664526
2   12.255808   97836.261015
3    7.215160   80550.256380
4    6.905628   68555.820963
5   12.427999  108021.442271
6    6.534503   55778.019993
7   12.363590  101586.979793
8   11.451010  103966.618570
9    9.295277   76826.009140

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.99, shuffle=True)